html {
	font-family: "Times New Roman", Times, serif;
	font-size: 14pt;
}
table{
	width:100%; 
	border-spacing: 0.2em;
}
table td{ 
	padding:7px;
}
table th{
	border:#000000 2px solid;
}

table td{
	border:#000000 2px solid;
}
#footer {
	display: none;
}
.hidden {
	display: none;
}
.return_link {
	display: none;
}
#nav {
	display: none;
}
#lang {
	display: none;
}
.nav_helper {
	display: none;
}
.stampano {
	display: none;
}
.stampasi {
	display: block;
}
#Gmap {
	width: 15cm;
}
#menu_section img {
	width: 3cm;
	float: left;
}
#menu_section dt {
	margin-left: 1cm;
	font-weight: bold;
}
#menu_section dd {
	margin-bottom: 1cm;
}
#menu_section dd p {
	min-height: 6.0em;
}
#menu_section p {
	margin-left: 3.5cm;
}
.infoContainer {
	padding-left: 2cm;
}
.infoTitle {
	font-weight: bold;
}
#section h1 {
	font-size: 22pt;
}
#section h2 {
	font-size: 16pt;
}
#section h3 {
	font-size: 13pt;
}
.notizia {
	border-bottom: #DDDDDD 1px solid;
}
#recent_news h1 {
	font-size: 22pt;
}
#recent_news h2 {
	font-size: 16pt;
}
#recent_news h3 {
	font-size: 13pt;
}
#form_container {
	display: none;
}
#descr_image {
	width: 20%;
}
