* {
	font-family: Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
}

#header {
	height: 8em;
	margin: 0em;
}

#header h1 {
	font-size: 2em;
	padding-top: 1em;
}

#lang_switch {
	font-size: 1.25em;
}

.nav_helper {
	display: inline-block;
	text-align: right;
	width: 99%;
}

#nav {
	float: none;
	width: 95%;
	padding-left: 0em;
	padding-top: 1em;
	padding-right: 0em;
	text-align: center;
	margin: auto;
}

#nav ul li {
	border-radius: 10px;
}

#nav ul li a {
	border-radius: 10px;
}

#current_page {
	border: none;
}

#recent_news {
	float: none;
	padding: 0;
	padding-top: 1em;
	margin: auto;
	box-shadow: none;
	width: 95%;
	border-bottom: #DDDDDD 1px solid;
}

#recent_news h1 {
	text-align: center;
}

#content {
	margin: auto;
	padding: 0em;
	padding-top: 1em;
	width: 95%;
}

#content h1 {
	text-align: center;
}

#content img {
	width: 100%;
	margin: auto;
	border-radius: 0.5em;
}

#section {
	margin: 0em;
}


#menu_section {
	margin: 0;
	padding: 0;
}

#menu_section h1 {
	
}

#menu_section dt {
	font-size: 1.3em;
}

#menu_section dd img {
	
}

#menu_section dd p {
	margin-left: 8em;
}

#menu_section dd {
	border: none;
}

#footer {
	height: 7em;
	padding: 0em;
}

#footer > * {
	display: block;
	padding-top: 0.5em;
}

#social_container img {
	height: 2.1em;
}