* {
	font-family: Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
}

html {
	background-color: #E5E5E5;
}

body {
	max-width: 65em;
	margin: auto;
	background-color: #FFFFFF;
}

table{
	width:100%; 
	border-spacing: 0.2em;
}
table td{ 
	padding:7px;
}
table th{
	border:#000000 2px solid;
}

table tr{
	background: #707070;
}
table tr:nth-child(odd){ 
	background: #CCCCCC;
}
table tr:nth-child(even){
	background: #999999;
}

.current_day {
	background-color: #FFDD55 !important;
}

.nav_helper {
	display: none;
}

#nav h1 {
	font-size: 1em;
	padding-bottom: 0.5em;
}

.hidden {
	position: absolute;
	left:0px;
	top:-500px;
	width:1px;
	height:1px;
	overflow: hidden;
}

#header {
	background-image: url("images/header_bg.png");
	background-repeat: no-repeat;
	height: 12em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	
}

#header h1 {
	font-size: 3em;
	color: #FFDD55;
	text-align: center;
	padding-top: 1.6em;
	text-shadow: 0px 0px 5px #000000;
}

#lang {
	float: right;
}

#lang_switch {
	padding-left: 0.2em;
	padding-right: 0.2em;
	border: #000000 1px solid;
	text-decoration: underline;
	background-color: #FFDD55;
	color: #555555;
	font-weight: bold;
}

#lang_switch_selected {
	padding-left: 0.2em;
	padding-right: 0.2em;
	border: #000000 1px solid;
	text-decoration: none;
	background-color: #FFDD55;
	color: #555555;
	font-weight: bold;
	opacity: 0.3;
}

#path {
	background-color: #555555;
	padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	color: #FFDD55;
}

#path a {
	color: #FFDD55;
}

#clb {
	font-weight: bold;
}

#nav {
	padding-top: 2em;
	padding-left: 2em;
	float: left;
	width: 15%;
	overflow: hidden;
}

#nav ul {
	list-style-type: none;
}

#nav ul li{
	margin-bottom: 3px;
	font-weight: bold;
	border-radius: 5px;
}

#nav ul li a{
	display:block;
	text-decoration:underline;
	color: #FFDD55;
	background-color:#555555;
	padding: 0.8em 1.5em;
	border-radius: 5px;
}

#nav ul li a:hover{
	display:block;
	text-decoration:underline;
	background-color:#FFDD55;
	padding: 0.8em 1.5em;
	color: #555555;
	transition: 0.5s;
}

#nav ul li a:focus{
	display:block;
	text-decoration:underline;
	background-color:#FFDD55;
	padding: 0.8em 1.5em;
	color: #555555;
}

#current_page{
	padding: 0.8em 1.5em;
	background-color: #FFDD55;
	color: #555555;
	border-left: #555555 5px solid;
}

#section {
	margin-left: 20%;
	margin-bottom: 2.1em;
}

#content {
	padding-top:2em;
	padding-left:2em;
	margin-right:10%;
}

#content h1 {
	font-size: 2em;
	padding-bottom: 0.5em;
	text-align: center;
}

#content h2 {
	font-size: 1.5em;
	padding-top: 0.5em;
}

#content h3 {
	font-size: 0.8em;
	padding-bottom: 0.5em;
}

#content p {
	padding-bottom: 0.5em;
}

#content ul {
	padding-left: 2em;
	margin-bottom: 1em;
}

.return_link {
	display: inline-block;
	text-align: right;
	width: 99%;
}

#content_image {
	width: 60%;
}

#meal_name {
	text-align: center;
	margin-top: 1em;
	font-size: 2.5em;
}

#description {
	margin: 2em;
	padding: 1em;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 5px #DDDDDD;
	min-height: 11em;
}

#description p {
	margin-top: 2em;
	margin-left: 28%;
}

#descr_image {
	width: 20%;
	margin: 1em;
	border-radius: 10px;
	float: left;
}

.notizia
{
	border-bottom: #DDDDDD 1px solid;
}

.notizia h3 {
	font-style:italic;
}

#recent_news {
	float: right;
	margin:2em;
	padding:1em;
	width: 22%;
	padding-right: 2em;
	box-shadow: 0px 0px 5px 5px #DDDDDD;

}

#recent_news h1 {
	font-size: 1.5em;
	margin-bottom: 0.5em;
}

#recent_news h2 {
	border-top: #DDDDDD 1px solid;
	padding-top: 0.5em;
	font-size: 1em;
}

#recent_news h3 {
	font-size: 0.9em;
	padding-bottom: 0.5em;
	font-weight: normal;
	font-style: italic;
}

#recent_news div {
	padding-bottom: 1em;
	margin-bottom: 0.5em;
}

.news_link {
	
}

#news_box_link {
	margin-top: 1em;
}

#Gmap {
	margin: auto;
	width: 100%;
	border: 0;
}

#Gmap_frame {
	margin: auto;
	width: 100%;
	height: 30em;
	border: 0;
}

.infoContainer {
	color: #004F76;
	padding-bottom: 1em;
}

.infoContainer p {
	padding-left: 1em;
}

.infoTitle {
	font-style: italic;
	font-weight: bold;
}

#footer {
	clear: both;
	bottom:0em;
	z-index:9999;
	background-color: #555555;
	height: 2.5em;
	margin: auto;
	vertical-align: middle;
	text-align: center;
	padding-top: 0.5em;
}

#social_container {
	margin-right: 1em;
	margin-left: 1em;
	float:left;
}

#social_container img {
	height: 2.1em;
	margin-right: 1em;
}

#w3c_container {
	margin-right: 1em;
	margin-left:1em;
	float:right;
}

#w3c_container img {
	border:0;
	width:88px;
	height:31px
}

#credits {
	margin-right: 2em;
	color: #FFFFFF;
	font-weight: bold;
}

.link_container > img
{
	float:right;
	margin-right:4em;
}

#menu_section {
 	padding-left: 2em;
	margin-bottom: 2em;
	margin-right:2em;
}

#menu_section h1 {
	font-size: 2em;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 0.5em;
}

#menu_section h2 {
	font-size: 1.5em;
	padding-bottom: 0.5em;
}

#menu_section dt {
	padding: 0.5em;
	background-color: #555555;
	color: #FFDD55;
	font-style: italic;
}

#menu_section dd {
	margin-bottom: 1.5em;
	border-bottom: #555555 1px solid;
	border-left: #555555 1px solid;
	border-right: #555555 1px solid;
	padding:1em;
}

#menu_section dd img {
	display: inline;
	width: 7em;
	float: left;
	padding: 0.5em;
	border-radius: 10px;
}

#menu_section dd p {
	padding-left: 0.5em;
	min-height: 6.5em;
	margin-right: 10%;
}


.commenti_submit legend	{
	margin:1em;
}

.commenti_submit	{
	margin-right:1em !important;
	margin-left:2em !important;
	margin-bottom:2em !important;
}
 
.form_description	{
	width:25%;
	margin:0.5em;
}

.form_item	{
	width:100%;
	margin:0.5em;
}

.form_item input	{
	width:25em;
	margin:1em;
}

.form_action	{
	margin:0.5px;
}

.menu_photo	{
	width:20em;
	height:20em;
	margin:1em;
}

.menu_container img{
	margin-right:7em;

}

#menu_item_dialog{
	
	margin:2em;
	padding:1em;
	width: 80%;
	padding-right: 2em;
	box-shadow: 0px 0px 5px 5px #DDDDDD;

}

#like_dinner img {
	width:80px;
	height:48px;

}

#like_dinner *{
	float:right;
}

#form_container {
	border-color:#555555;
	/*width:100%;*/
	margin-left: 2em;
	margin-right: 2em;
}

.stampasi {
	display: none;
}

#section_404 {
	margin-left: 20%;
	text-align: center;
	padding-bottom: 1em;
}

#section_404 h1 {
	font-size: 2em;
	margin: 1em;
}

#section_404 h2 {
	font-size: 1.4em;
	margin: 0.5em;
}

#section_404 img {
	margin: 0 auto;
	width: 50%;
}

.form_field {
	margin-top: 1em;
	margin-bottom: 1em;
}

.form_field legend {
	margin-left: 0.5em;
	font-weight: bold;
}

.form_field label {
	display: block;
	margin: 0.5em;
}

.form_field input {
	display: inline;
	margin-left: 1em;
	margin-bottom: 0.5em;
}

.form_field textarea {
	display: block;
	margin: 1em;
	border-radius: 5px;
	width: 80%;
}

.form_field span {
	font-weight: bold;
	color: #ff0000;
	padding-left: 1em;
	margin-bottom: 0.5em;
}

#form_field_buttons {
	margin-top: 1em;
	margin-bottom: 1em;
}

#form_field_buttons legend {
	margin-left: 0.5em;
	font-weight: bold;
}

#form_field_buttons input {
	margin: 0.5em;
	font-size: 1em;
}